  *{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
  }

  .header{
    background-color: #E25D15;
    height: 60px;
    width:100%;
    position: sticky;
    top: 0;
    z-index: 1;
   
}
.header .header-container{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
   
}

.header .header-container .logo{
    height: 60px;
    width: 10%;

    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;

   /*
    background-image: url('images/logo.png');
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    */

    background-color: #E25D15;
}
.header .header-container .logo p{
    text-align: center;
    color: white;
    font-size: 20px;
}
.header-container nav{
    
    margin-left: auto;
    background-color: #E25D15;
    display: flex;
   /* flex-direction: column;*/
    justify-content: space-between;
    align-content: center;
}

.header-container nav a{

    box-sizing:border-box;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding-left: 20px;
    margin: auto;
    color: white;
}

.header-container nav a:hover{

    background-color:red;
    color: white;
}

    /* end navigation bar */

.container{

  background: url('casa.jpg') no-repeat  #eee;
  height:100vh;
  padding-top: 60px;
  /* padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 340px;
  padding-top: 340px; */

  background-attachment: fixed;
  background-size: cover;
  margin: 0%;
  
}

#login{

  background: rgb(255, 254, 254);
  position: relative;
  margin: auto;
  border: 15px solid #E25D15;
  
  width: 400px;
  height: 700px;
  /*top: 30%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  */
}

  


    @media screen and (max-width: 500px) {
       .header{
        height: 50px;
        position: relative;
        
        }

        #login{
          position: center;
          height: 100hv;
          width: 100hv;
        }

    }

  #connect{
    background-color: #E25D15;
    padding-top: 30px;
    padding-left: 10ch; 
    height: 60px; 
    }

  #connect a{
    font-size: 25px;
    font-weight: bold;
    color:white;
  }


  label, input {
    width: 70%;
    display: block;
    margin-top: 3ch;
  }
  input[type='checkbox'] {
    display: inline;
    width: 10px;
    height: 10px;

  }
  input[type='email']:invalid {
    background: linear-gradient(to right,red,orange,salmon); 
    color: yellow;
  }


  :focus {
    background-color: lightgray;
  }
  #evenim::before {
    content: '\2691';
    float: left;
    padding-right: 0.3em;
  }
  input[type='submit'] {
    
    background:#E25D15;
    /*
    margin-top: 3em;
    padding: 0.5em;
    margin-left: 7ch;*/

    margin: auto;
    width: 100%;
    /*border: thin solid rgb(175, 103, 8);*/
    padding: 10px;
  }

  input[type='submit']:hover {
    color: white;
    background: linear-gradient(to bottom, darkgreen, rgba(0,127,0,0.5));
  }
